.icon1 {
  position: relative;
  width: 2.31rem;
  height: 2.31rem;
}
.icon {
  border-radius: var(--br-xl);
  background: linear-gradient(180deg, #004aad, #2772d7 51.61%, #4c98ff);
  width: 4.38rem;
  height: 4.38rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.ofExperience,
.years {
  position: relative;
  line-height: 136%;
}
.ofExperience {
  align-self: stretch;
  font-size: var(--badge-s-size);
  line-height: 160%;
  font-weight: 500;
}
.block1,
.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.block1 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--h3-size);
  color: var(--blue-primary);
  font-family: var(--description);
}
