.swLogoIcon {
  position: relative;
  width: 12.56rem;
  height: 3.25rem;
}
.buttonLangSwitchParent,
.navigationBlock {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.buttonLangSwitchParent {
  align-items: center;
  justify-content: flex-end;
}
.navigationBlockParent,
.swLogoParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.navigationBlockParent {
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.swLogoParent {
  align-self: stretch;
  justify-content: space-between;
}
.bonnerStr12,
.description,
.div {
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.bonnerStr12,
.description {
  text-align: left;
}
.description {
  font-size: var(--description-size);
  color: var(--gray-300);
}
.contentBlock,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.contentBlock {
  align-self: stretch;
  background-color: var(--neutral-black);
  padding: var(--padding-41xl) var(--padding-101xl);
  gap: var(--gap-41xl);
  text-align: center;
  font-size: var(--text-s-size);
  color: var(--neutral-white);
  font-family: var(--description);
}
