.button,
.icon {
  position: relative;
}
.button {
  line-height: 160%;
  font-weight: 500;
}
.icon {
  width: 7.5px;
  height: 4.5px;
}
.arrow,
.statedefaultTypectaDown {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow {
  border-radius: var(--br-xs);
  width: 18px;
  height: 18px;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-xs);
  box-sizing: border-box;
}
.statedefaultTypectaDown {
  border-radius: var(--br-xl);
  background-color: var(--blue-primary);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-base) var(--padding-3xs)
    var(--padding-5xl);
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--text-s-size);
  color: var(--gray-501);
  font-family: var(--description);
}
