.button {
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.statedefaultTypectaColor {
  border-radius: var(--br-xl);
  background-color: var(--blue-primary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-41xl);
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--badge-s-size);
  color: var(--gray-501);
  font-family: var(--description);
}
