.button {
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.statedefaultTypectaBase {
  border-radius: var(--br-xl);
  background-color: var(--neutral-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--text-s-size);
  color: var(--neutral-black);
  font-family: var(--description);
}
