@import "../../styles/variables";
@import "../../styles/mixins";

.card {
  flex-direction: row;
  align-items: center;
  gap: $gap-3xs;
  flex: 1;
  display: flex;
  justify-content: flex-start;

  .a-icon {
    border-radius: $br-xl;
    background: linear-gradient(180deg, #004aad, #2772d7 51.61%, #4c98ff);
    width: 4.38rem;
    height: 4.38rem;
    display: flex;
    flex-direction: row;
    padding: $padding-base;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }

 .m-cardText{
   text-align: left;
   color: $blue-primary;
   white-space: nowrap;

   .a-header {
     @include h3-header;
   }

   .a-description {
     @include section-description;
     text-transform: none;
     font-weight: 500;
   }
 }

}
