.swLogoIcon {
  position: relative;
  width: 263px;
  height: 52px;
}
.button {
  position: relative;
  line-height: 160%;
  font-weight: 500;
}
.buttonBase,
.navigationBlock {
  display: flex;
  flex-direction: row;
}
.buttonBase {
  border-radius: var(--br-xl);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.navigationBlock {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.buttonLangSwitchChild {
  position: relative;
  background-color: var(--gray-400);
  width: 1px;
  height: 20px;
}
.buttonBase4,
.buttonLangSwitch {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttonBase4 {
  border-radius: var(--br-xl);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-5xs);
  justify-content: center;
  color: var(--gray-500);
}
.buttonLangSwitch {
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.buttonBase5 {
  border-radius: var(--br-xl);
  background-color: var(--neutral-black);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-5xl);
  justify-content: center;
  color: var(--gray-501);
}
.block,
.buttonBase5,
.ctaBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ctaBlock {
  justify-content: flex-end;
  gap: var(--gap-21xl);
}
.block {
  width: 1199.78px;
  justify-content: space-between;
}
.onoffnoneFormatdesktop {
  background-color: var(--neutral-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-101xl);
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--text-s-size);
  color: var(--neutral-black);
  font-family: var(--description);
}
