@import "../../styles/variables";
@import "../../styles/mixins";

.section-container {
  display: flex;
  justify-content: center;
  padding-top: 0;

  @media only screen and (min-width: 1240px) {
    padding-top: $padding-21xl;
  }

  @media only screen and (min-width: 1350px) {
    padding-top: 5vw;
  }

  .o-content {
    @include main-container;
    gap: $gap-41xl;

    .m-title{
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      gap: $gap-3xs;
      text-align: left;

      .a-sectionDescription {
        @include section-description;
      }
      .a-sectionHeader {
        @include h2-header;
      }
    }
    .--align-center{
      text-align: center;
    }

    .m-experience-cards{
      @include cards;
      gap:$gap-41xl;
    }
    .m-direction-cards{
      @include cards(4);
    }

    .m-principles-cards{
      @include cards(2);
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      gap:$gap-41xl;
    }
  }
}

.section-container:nth-child(1){
  padding: 0 0 $padding-101xl 0;
}


