@import "../../styles/variables";
@import "../../styles/mixins";

.m-localeSwitch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: $gap-11xs;

  .a-icon {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }

  .a-button{
   @include btn;
    border-radius: 2.25rem;
    cursor: unset;

    &:hover{
      color: $neutral-black;
      background-color: $gray-200;
    }
  }

  .a-button.--darkMode{
    color: $neutral-white;
    &:hover{
      background-color: $gray-700;

    }
  }
  .a-button.-inactive{
    color: $gray-500;
    cursor: pointer;
  }

  //.a-button.-inactive.--darkMode{
  //  &:hover{
  //  }
  //}

  .a-divider{
    background-color: $gray-400;
    width: 1px;
    height: 20px;
  }
  .a-divider.--darkMode{
    background-color: $gray-500;
  }

  .a-button.--mobileMenu{
    font-size: $text-l-size;
    padding: $padding-xl;
  }
}

