@import "../../styles/variables";
@import "../../styles/mixins";


.gradient {
  background: linear-gradient(180deg, #e8f2ff, #f4f9ff 55.8%, #fff);
  height: 74.81rem;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.o-content * {
  box-sizing: border-box;
}
.o-content {
  background-image: url("/hero.svg");
  background-position: center calc(50% - 15vh);
  background-repeat: no-repeat;
  background-size: cover;
  color: $neutral-black;
  padding: 10vh 0 17vh 0;
  display: flex;
  flex-direction: column;
  gap: $gap-21xl;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 100%;

  @include device(tablet) {
    padding: 20vh 0 20vh 0;
  }
  @include device(XXL-screen) {
    background-position: center calc(50% - 15vw);
  }

  @include device(XXXL-screen) {
    background-position: center calc(50% - 20vw);
  }

  &__container {
    @include main-container;
    gap: $padding-21xl;
    .m-title {
      display: flex;
      flex-direction: column;
      gap: $gap-xl;
      align-items: center;
      justify-content: flex-start;
      flex-shrink: 0;
      text-align: center;
      position: relative;

    }

    .a-companyName {
      @include text-l;
      font-weight: 700;
      text-transform: uppercase;
    }

    .a-sectionHeader {
      @include h1-header;
    }

    .a-sectionDescription {
      @include text-m;
        @include device(S-screen){
        @include text-l;
      }
    }

    .a-scrollCue {
      padding: $padding-21xl 0;
      display: flex;
      flex-direction: row;
      gap: $gap-9xs;
      align-items: center;
      justify-content: center;
      align-self: stretch;
      flex-shrink: 0;
      position: relative;

      &__text {
        @include ctaText();
      }

      &__icon {
        flex-shrink: 0;
      }
    }
  }
  }

