@import "../../styles/variables";
@import "../../styles/mixins";


.m-contactUsButton{
        border-radius: $br-5xl;
        background-color: $neutral-black;
        overflow: hidden;
        padding: $padding-3xs $padding-5xl;
        justify-content: center;
        color: $gray-501;

        &:hover{
          background-color: $gray-700;
        }
      }

.menu {
  top: 0;
  position: sticky;
  z-index: 2;
  background-color: $neutral-white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: $padding-xl 0;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size:  $text-s-size;
  color:  $neutral-black;



  .o-content,
  .m-leftBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .o-content{
    width: 80vw;
    justify-content: space-between;

    @include device(S-screen){
      width: 70vw;
      justify-content: space-evenly;
    }
    .m-logo{
      margin: 0 7vw 0 2vw;
    }

    .m-navigationBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: $gap-21xl;
      height: 100vh;

      @include device(S-screen){
           flex-direction: row;
           height: auto;
      }
    }

    .a-button{
      border-radius: $br-xl;
      overflow: hidden;
      padding:$padding-3xs $padding-5xs;
      align-items: center;
      justify-content: center;
      line-height: 160%;
      font-weight: 500;
      white-space: nowrap;
    }


    .m-leftBlock{
        justify-content: flex-end;
        gap: $gap-21xl;
        margin: 0 2vw 0 3vw;
    }
  }

  .o-mobileContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $gap-21xl;
    height: 60vh;
    width: 100%;
    border-radius: 0px 0px $br-xl $br-xl;
    box-shadow: 0px 10px 25px #33333314;
    overflow: hidden;
  
   
  }
}
